.cards-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 70px 30px;
  box-sizing: border-box;
}

.cards-list__grid{
  display: grid;
  grid-template-columns: repeat(3, 364px);
  grid-template-rows: repeat(auto-fill, 271px);
  column-gap: 24px;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.cards-list__add-movies {
  width: 100%;
  height: 166px;
  display: flex;
  justify-content: center;
}

.cards-list__add-movies-button{
  width: 320px;
  height: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  background: unset;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 80px;
  cursor: pointer;
}

.cards-list__add-movies-button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .card-list {
    padding: 70px 30px 30px;
  }

  .cards-list__grid{
    grid-template-columns: repeat(2, 339px);
    grid-template-rows: repeat(auto-fill, 258px);
    column-gap: 30px;
    row-gap: 36px;
  }

  .cards-list__add-movies-button{
    width: 320px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cards-list{
    margin: 40px 10px 30px;
  }

  .cards-list__grid{
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 236px);
    row-gap: 16px;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .cards-list__add-movies-button{
    width: 240px;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}