.profile{
  display: flex;
}

.profile__form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__title{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 74px auto 123px;
  text-align: center;
}

.profile__label{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  background: none;
  border: none;
  padding: 0;
  text-align: right;
}

.profile__input-container:first-child{
  margin-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #E8E8E8;
}

.profile__input-container{
  display: flex;
  flex-direction: column;
  width: 410px;
  margin: 17px auto 0;
}

.profile__fieldset{
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 0;
  margin: 0;
}

.profile__input-list{
  margin: 0 0 220px;
}

/* .profile__submit-button{
  cursor: pointer;
  background: none;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  padding: 0;
  margin: 0 auto 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
} */

.profile__submit-button {
  margin-top: auto;
  border: none;
  background-color: transparent;
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  transition: all .3s ease;
  cursor: pointer;
}

/* .profile__submit-button:hover {
  opacity: 0.8;
} */

.profile__submit-button_disabled {
  color: #8b8b8b;
  cursor: default;
}

.profile__submit-button_disabled:hover {
  opacity: 1;
}




.profile__signout-button{
  cursor: pointer;
  background: none;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0 auto 70px;
  text-align: center;
  color: #EE3465;
}

.profile__input-error{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  margin: 5px 0;
  height: 12px;
  width: 410px;
  color: #EE3465;
  text-align: end;
}

@media (max-width:1279px) {
  .profile__title{
    margin: 236px auto 96px;
  }

  .profile__input-list{
    margin: 0 0 210px;
  }
}

@media (max-width:767px) {
  .profile__title{
    margin: 70px auto 80px;
  }

  .profile__input-container{
    width: 260px;
  }

  .profile__input-list{
    margin: 0 0 379px;
  }

  .profile__signout-button{
    margin-bottom: 40px;
  }

  .profile__submit-button {
    font-size: 12px;
    line-height: 1.25;
  }

  /* .profile__submit-button{
    font-size: 12px;
    line-height: 15px;
  } */
  
  .profile__signout-button{
    font-size: 12px;
    line-height: 15px;  
  }
}