.search-form {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
  padding: 70px;
}

.search-form:before {
  position: absolute;
  bottom: 0;
  left: 70px;
  width: 89%;
  border-top: 1px solid #e8e8e8;
  content: '';
}

.search-form__form{
  width: 100%;
  height: 72px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-radius: 9px;
  padding-left: 25px;
  padding-right: 30px;
}

.search-form__bar{
  margin: 0;
  border-right: 1px solid #e8e8e8;
  height: 40px;
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.search-form__input{
  height: 100%;
  width: 87%;
  border: none;
  background-color: unset;
  color: #A0A0A0;
}

.search-form__input::placeholder {
  background-image: url('../../images/magnifying-glass.svg');
  width: 60px;
  height: 34px;
  background-repeat: no-repeat;
  padding-left: 53px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.search-form__find-button {
  padding: 0;
  /* padding-right: 40px; */
  background-image: url('../../images/find-button.svg');
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  border: none;
  background-color: unset;
  cursor: pointer;
  margin-right: 30px;
}

.search-form__find-button:hover {
  opacity: 0.8;
}

/* .search-form__error {
  color: #EE3465;
  font-size: 10px;
  line-height: 1.2;
  position: absolute;
  top: 50px;
} */

.search-form__error {
  display: flex;
  flex-direction: row;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  margin-top: 10px;
  padding-left: 25px;
  height: 12px;
  color: #EE3465;
  align-self: flex-start;
}

.checkbox__label {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__selector {
  display: inline-block;
  width: 36px;
  height: 20px;
  margin: 0;
  padding: 0;
  margin-left: 29px;
  margin-right: 14px;
  vertical-align: top;
  background: #ffffff;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.checkbox__selector:hover {
  opacity: 0.8;
}

.checkbox__selector_on {
  background: center center no-repeat url('../../images/checkbox-selector_active.svg');
}

.checkbox__selector_off {
  background: center center no-repeat url('../../images/checkbox-selector_disabled.svg');
}

/* .search-form__error:hover {
  cursor: pointer;
} */

/* .search__text {
  font-size: 12px;
  line-height: 1.5;
  margin-left: 12px;
} */

@media screen and (max-width: 900px) {
  .search-form {
    padding: 80px 30px 120px;
  }

  .search-form__form {
    padding-right: 20px;
    padding-left: 19px;
  }

  .search-form__movie {
    width: 72%;
    padding-right: 19px;
    border-right: 1px solid #cbcbcb;
  }

  .search-form__input {
    padding: 0;
  }

  .search-form__input::placeholder {
    padding-left: 45px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search-form {
    border-bottom: none;
    padding: 79px 10px 10px;
    margin-bottom: 0;
  }

  .search-form:before {
    display: none;
  }

  .search-form__form {
    height: 182px;
    flex-direction: column;
    background-color: unset;
    padding: 0;
    border-radius: unset;
    border-bottom: 1px solid #e8e8e8;
  }

  .search-form__bar{
    width: 300px;
    background: #F9F9F9;
    border-radius: 9px;
    border-right: none;
  }

  .search-form__movie {
    border: none;
    background-color: #f9f9f9;
    height: 72px;
    padding-left: 19px;
    width: 100%;
    border-radius: 9px;
  }

  .search-form__input::placeholder {
    background: unset;
    padding-left: 19px;
    font-size: 14px;
  }

  .search-form__input {
    width: 80%;
    height: 72px;
  }

  .search-form__find-button {
    margin-right: 19px;
  }

  .search-form__error {
    font-size: 10px;
    top: 60px;
  }

  .checkbox__label {
    font-size: 11px;
    line-height: 18px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 44px;
  }
}


/* .search-form{
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
  padding: 70px;
  
}

.search-form:before {
  position: absolute;
  bottom: 0;
  left: 70px;
  width: 89%;
  border-top: 1px solid #e8e8e8;
  content: '';
}

.search-form__form{
  width: 100%;
  height: 72px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-radius: 9px;
  padding-left: 25px;
  padding-right: 30px;
}

.search-form__bar{
  margin: 0;
  border-right: 1px solid #e8e8e8;
  height: 40px;
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.search-form__input{
  height: 100%;
  width: 87%;
  border: none;
  background-color: unset;
  color: #A0A0A0;
}

.search-form__input::placeholder {
  background-image: url('../../images/magnifying-glass.svg');
  width: 60px;
  height: 34px;
  background-repeat: no-repeat;
  padding-left: 53px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.search-form__find-button {
  padding: 0;
  background-image: url('../../images/find-button.svg');
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  border: none;
  background-color: unset;
  cursor: pointer;
  margin-right: 30px;
}

.search-form__find-button:hover {
  opacity: 0.8;
}

.search-form__error {
  display: flex;
  flex-direction: row;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  margin-top: 10px;
  padding-left: 25px;
  height: 12px;
  color: #EE3465;
  align-self: flex-start;
}

.checkbox__label {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__selector {
  display: inline-block;
  width: 36px;
  height: 20px;
  margin: 0;
  padding: 0;
  margin-left: 29px;
  margin-right: 14px;
  vertical-align: top;
  background: #ffffff;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.checkbox__selector:hover {
  opacity: 0.8;
}

.checkbox__selector_on {
  background: center center no-repeat url('../../images/checkbox-selector_active.svg');
}

.checkbox__selector_off {
  background: center center no-repeat url('../../images/checkbox-selector_disabled.svg');
}

@media screen and (max-width: 900px) {
  .search-form {
    padding: 80px 30px 120px;
  }

  .search-form__form {
    padding-right: 20px;
    padding-left: 19px;
  }

  .search-form__movie {
    width: 72%;
    padding-right: 19px;
    border-right: 1px solid #cbcbcb;
  }

  .search-form__input {
    padding: 0;
  }

  .search-form__input::placeholder {
    padding-left: 45px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search-form {
    border-bottom: none;
    padding: 79px 10px 10px;
    margin-bottom: 0;
  }

  .search-form:before {
    display: none;
  }

  .search-form__form {
    height: 182px;
    flex-direction: column;
    background-color: unset;
    padding: 0;
    border-radius: unset;
    border-bottom: 1px solid #e8e8e8;
  }

  .search-form__bar{
    width: 300px;
    background: #F9F9F9;
    border-radius: 9px;
    border-right: none;
  }

  .search-form__movie {
    border: none;
    background-color: #f9f9f9;
    height: 72px;
    padding-left: 19px;
    width: 100%;
    border-radius: 9px;
  }

  .search-form__input::placeholder {
    background: unset;
    padding-left: 19px;
    font-size: 14px;
  }

  .search-form__input {
    width: 80%;
    height: 72px;
  }

  .search-form__find-button {
    margin-right: 19px;
  }

  .search-form__error {
    font-size: 10px;
    top: 60px;
  }

  .checkbox__label {
    font-size: 11px;
    line-height: 18px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 44px;
  }
} */
