.header-pages {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}

.header-pages__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-pages__logo {
  width: 38px;
  height: 38px;
  cursor: pointer;
  margin-right: 44px;
}

.header-pages__logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .header-pages {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-pages {
    padding-left: 14px;
    padding-right: 14px;
  }
}
